@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'),
         local('Roboto-Bold'),
         url('fonts/robotobold.woff2') format('woff2'),
         url('fonts/robotobold.woff') format('woff'),
         url('fonts/robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
