@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'),
         local('Roboto-Thin'),
         url('fonts/robotothin.woff2') format('woff2'),
         url('fonts/robotothin.woff') format('woff'),
         url('fonts/robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
