@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
         local('Roboto-Regular'),
         url('fonts/roboto.woff2') format('woff2'),
         url('fonts/roboto.woff') format('woff'),
         url('fonts/roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
