@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'),
         local('Roboto-ThinItalic'),
         url('fonts/robotothinitalic.woff2') format('woff2'),
         url('fonts/robotothinitalic.woff') format('woff'),
         url('fonts/robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
