@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'),
         local('Roboto-Medium'),
         url('fonts/robotomedium.woff2') format('woff2'),
         url('fonts/robotomedium.woff') format('woff'),
         url('fonts/robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
